///////////////////////////////////////////////////
// This is an reasoner configuration file /////////
///////////////////////////////////////////////////


///////////////////////////////////
// General configurations  ////////
///////////////////////////////////

ontology:C:/Users/Colin/Coror/resources/onts/food.triples
ruleSet:C:/Users/Colin/Coror/resources/rules/optimized.rules
reasonerMode:temporal



///////////////////////////////////
// Node/Join sharing algorithms ///
///////////////////////////////////

nodeSharing:on
selectiveLoading:off
ruleConstructDependencies:D:/working/NetBeansProjects/CororJarTest/resources/rules/rule-constructs.txt

///////////////////////////////////
// For debugging/testing        ///
///////////////////////////////////

ignoreAxioms:on

///////////////////////////////////
// Composition algorithms  ////////
///////////////////////////////////
 

//excludeRules:rdf1,rdfs4a,rdfs4b,rdfs8,rdfp5a,rdfp5b
//reorderJoins:on
//shareAlphaNodes:on
//connectivity:on
// save nearly 10KB memory for beer ontology (173 triples) when turned off, however, only uses half of the reasoning time after turned on
// cacheMap:on
// selective rule loading